<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body600013_0001</key>
            <dict>
                <key>frame</key>
                <string>{{158,274},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,20},{54,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600013_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{60,68}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,13},{60,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600013_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{56,76}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,21},{56,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600013_0004</key>
            <dict>
                <key>frame</key>
                <string>{{86,56},{56,80}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,17},{56,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600013_0005</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{58,80}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{58,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600013_0006</key>
            <dict>
                <key>frame</key>
                <string>{{166,118},{58,78}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{58,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600013_0007</key>
            <dict>
                <key>frame</key>
                <string>{{80,262},{44,76}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,22},{44,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600013_0008</key>
            <dict>
                <key>frame</key>
                <string>{{82,216},{44,78}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,17},{44,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600013_0009</key>
            <dict>
                <key>frame</key>
                <string>{{162,178},{46,78}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,19},{46,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600013_0010</key>
            <dict>
                <key>frame</key>
                <string>{{162,226},{46,76}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{46,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600013_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{48,78}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,21},{48,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600013_0012</key>
            <dict>
                <key>frame</key>
                <string>{{82,168},{46,78}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,21},{46,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600013_0013</key>
            <dict>
                <key>frame</key>
                <string>{{168,62},{54,80}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,18},{54,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600013_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,82}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,14},{54,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600013_0015</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{52,82}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,17},{52,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600013_0016</key>
            <dict>
                <key>frame</key>
                <string>{{84,114},{52,80}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,19},{52,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600013_0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{52,80}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,19},{52,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>body600013_0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{54,80}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,18},{54,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body600013_Ani.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7efe9edcbc134f47cb06cd40b1e42d7f$</string>
            <key>textureFileName</key>
            <string>body600013_Ani.png</string>
        </dict>
    </dict>
</plist>
